<div class="profile-update-container">
    <h2>Update Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <mat-label>
          <mat-icon>email</mat-icon>
          Email
        </mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="profileForm?.get('email')?.invalid">{{ getErrorMessage('email') }}</mat-error>
      </div>
  
      <div class="form-field">
        <mat-label>
          <mat-icon>photo</mat-icon>
          Profile Picture
        </mat-label>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
  
      <div class="form-field">
        <mat-label>
          <mat-icon>location_city</mat-icon>
          Country
        </mat-label>
        <input matInput formControlName="country" type="text" />
        <mat-error *ngIf="profileForm?.get('country')?.invalid">{{ getErrorMessage('country') }}</mat-error>
      </div>
  
      <div class="form-field">
        <mat-label>
          <mat-icon>phone</mat-icon>
          Phone Number
        </mat-label>
        <input matInput formControlName="phoneNumber" type="tel" />
        <mat-error *ngIf="profileForm?.get('phoneNumber')?.invalid">{{ getErrorMessage('phoneNumber') }}</mat-error>
      </div>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid" >
        <mat-icon>save</mat-icon>
        Update Profile
      </button>
    </form>
  </div>